<style>
    *{
        margin: 0px;
        padding:0px;
    
        }
    h1{
        font-size: 30px;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 10%;
        color: #fff;
        -webkit-transform: rotate(-10deg);
        line-height: .7;
        font-family: cursive;
        text-shadow: 0px 5px 0px rgba(0,0,0,.4);
        
    }
    body
    {
        background: #075b23;
    }
    button
    {
        border-radius: 50%;
        width: 50%;
        float: left;
        overflow: hidden;
        margin-left: 25%;
        background: #0ca03d;
        border: none;
        box-shadow: 0px 20px 0px 1px #075b23;
        outline: none;
        transition: .1s all;
    
    }
    
    button:active
    {
        margin-top: 10px;
        box-shadow: 0px 10px 0px 1px #075b23;
        outline: none;
    }
    
    button>img
    {
        max-width: 100%;
    }
    #buscar
    {
        margin-top: 30px;
        border-radius: 5px;
        height: 40px;
        font-size: 20px;
        box-shadow: 0px 5px 0px 1px #075b23;
        color: #fff;
        font-weight: bold;
        text-shadow: 0px -1px 0px rgba(0,0,0,.5);
        visibility: hidden;
        opacity: 0;
        transition: .3s all;
        -webkit-transform:scale(.5);

    }
    .aparecer
    {
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transform:scale(1) !important;
    }
    
</style>